// Colors

$darkest: #141517;
$dark: #2c2e3f;
$coral: #fe7865;
$orange: #f17d4b;
$grey: #fbf8f8;
$darkgrey: #d7d9df;
$white: #ffffff;

//Resolutions

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
